**O arquivo csv contém dados sobre o país de origem de 300 pessoas que estavam em uma palestra.**

---

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
paises = pd.read_csv("/pais de origem.csv")
paises.head()

  País de Origem
0         Brasil
1     Inglaterra
2          Japão
3            EUA
4         Brasil

In [ ]:
frequencia_absoluta = paises["País de Origem"].value_counts(sort=True)
print(frequencia_absoluta)

Brasil           59
EUA              35
Índia            19
China            18
Uruguai          17
Japão            16
Austrália        15
África do Sul    14
Rússia           14
Inglaterra       12
Suiça            11
Argentina        10
Alemanha         10
França           10
Itália            9
Canadá            9
Egito             8
México            7
Chile             7
Name: País de Origem, dtype: int64

In [ ]:
frequencia_relativa = (frequencia_absoluta / 300)*100
print(frequencia_relativa)

Brasil           19.666667
EUA              11.666667
Índia             6.333333
China             6.000000
Uruguai           5.666667
Japão             5.333333
Austrália         5.000000
África do Sul     4.666667
Rússia            4.666667
Inglaterra        4.000000
Suiça             3.666667
Argentina         3.333333
Alemanha          3.333333
França            3.333333
Itália            3.000000
Canadá            3.000000
Egito             2.666667
México            2.333333
Chile             2.333333
Name: País de Origem, dtype: float64

In [ ]:
frequencia_acumulada = frequencia_absoluta.cumsum()
print(frequencia_acumulada)

Brasil            59
EUA               94
Índia            113
China            131
Uruguai          148
Japão            164
Austrália        179
África do Sul    193
Rússia           207
Inglaterra       219
Suiça            230
Argentina        240
Alemanha         250
França           260
Itália           269
Canadá           278
Egito            286
México           293
Chile            300
Name: País de Origem, dtype: int64

In [ ]:
frequencia_relativa_acumulada = frequencia_relativa.cumsum()
print(frequencia_relativa_acumulada)

Brasil            19.666667
EUA               31.333333
Índia             37.666667
China             43.666667
Uruguai           49.333333
Japão             54.666667
Austrália         59.666667
África do Sul     64.333333
Rússia            69.000000
Inglaterra        73.000000
Suiça             76.666667
Argentina         80.000000
Alemanha          83.333333
França            86.666667
Itália            89.666667
Canadá            92.666667
Egito             95.333333
México            97.666667
Chile            100.000000
Name: País de Origem, dtype: float64